a {
    font-size: 25px;
    font: bold 11px Arial;
    background-color: lightblue;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }
  #nav ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}
  h1 {
    font-size: 65px;
    line-height: 1;
    justify-content: center;
    text-decoration: underline;
    color: rgb(52, 52, 126);
    align-items: center;
}
h2{
    font-size: xx-large;
}

li {
    float: left;
    display: inline;
  }


  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 200px;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: rgb(52, 52, 126);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #555;
    color: yellow;
    text-decoration: underline;
  }